version: '3.5'

services:
  user:
    hostname: 'user'
    container_name: 'user'
    ports:
      - "4000:4000"
    volumes:
      - ./user:/app
      - ~/.bash_history:/root/.bash_history
    build:
      dockerfile: Dockerfile
      context: user
    networks:
      - local-network
    env_file:
      - .env
    extra_hosts:
      - 'host.docker.internal:172.17.0.1'

  product:
    hostname: 'product'
    container_name: 'product'
    ports:
      - "4001:4001"
    volumes:
      - ./product:/app
      - ~/.bash_history:/root/.bash_history
    build:
      dockerfile: Dockerfile
      context: product
    networks:
      - local-network
    env_file:
      - .env
    extra_hosts:
      - 'host.docker.internal:172.17.0.1'

  mongo:
    ports:
      - "27047:27017"
    volumes:
      - 'mongodb-volume:/data/db'
    hostname: 'mongo'
    container_name: 'mongo'
    image: 'mongo:4.2.3'
    environment:
      MONGO_INITDB_ROOT_USERNAME: test
      MONGO_INITDB_ROOT_PASSWORD: test
    networks:
      - local-network

networks:
  local-network:
    name: network
volumes:
  mongodb-volume:
    driver: local
